<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tf_settings search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label tf_settings id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN ndays_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ndays}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ndays{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="ndays" data-fieldname="ndays" >


	<label class="r-search-label control-label" for="{$labelfor_ndays}">
		{$label tf_settings ndays }	</label>
	<div class="r-search-option">
		{$searchtype_ndays}
	</div>
	<div class="r-search-field">
		{$ndays_editcontrol}	</div>
	<div class="r-search-field">
		{$ndays_editcontrol1}
	</div>
	
</div>

{END ndays_fieldblock}
											
{BEGIN cweekend_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cweekend}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cweekend{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="cweekend" data-fieldname="cweekend" >


	<label class="r-search-label control-label" for="{$labelfor_cweekend}">
		{$label tf_settings cweekend }	</label>
	<div class="r-search-option">
		{$searchtype_cweekend}
	</div>
	<div class="r-search-field">
		{$cweekend_editcontrol}	</div>
	<div class="r-search-field">
		{$cweekend_editcontrol1}
	</div>
	
</div>

{END cweekend_fieldblock}
											
{BEGIN choliday_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_choliday}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="choliday{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="choliday" data-fieldname="choliday" >


	<label class="r-search-label control-label" for="{$labelfor_choliday}">
		{$label tf_settings choliday }	</label>
	<div class="r-search-option">
		{$searchtype_choliday}
	</div>
	<div class="r-search-field">
		{$choliday_editcontrol}	</div>
	<div class="r-search-field">
		{$choliday_editcontrol1}
	</div>
	
</div>

{END choliday_fieldblock}
											
{BEGIN cday1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cday1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cday1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cday1" data-fieldname="cday1" >


	<label class="r-search-label control-label" for="{$labelfor_cday1}">
		{$label tf_settings cday1 }	</label>
	<div class="r-search-option">
		{$searchtype_cday1}
	</div>
	<div class="r-search-field">
		{$cday1_editcontrol}	</div>
	<div class="r-search-field">
		{$cday1_editcontrol1}
	</div>
	
</div>

{END cday1_fieldblock}
											
{BEGIN cday2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cday2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cday2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="cday2" data-fieldname="cday2" >


	<label class="r-search-label control-label" for="{$labelfor_cday2}">
		{$label tf_settings cday2 }	</label>
	<div class="r-search-option">
		{$searchtype_cday2}
	</div>
	<div class="r-search-field">
		{$cday2_editcontrol}	</div>
	<div class="r-search-field">
		{$cday2_editcontrol1}
	</div>
	
</div>

{END cday2_fieldblock}
											
{BEGIN cunavailable_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cunavailable}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cunavailable{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cunavailable" data-fieldname="cunavailable" >


	<label class="r-search-label control-label" for="{$labelfor_cunavailable}">
		{$label tf_settings cunavailable }	</label>
	<div class="r-search-option">
		{$searchtype_cunavailable}
	</div>
	<div class="r-search-field">
		{$cunavailable_editcontrol}	</div>
	<div class="r-search-field">
		{$cunavailable_editcontrol1}
	</div>
	
</div>

{END cunavailable_fieldblock}
											
{BEGIN cunavailabletext_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cunavailabletext}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cunavailabletext{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cunavailabletext" data-fieldname="cunavailabletext" >


	<label class="r-search-label control-label" for="{$labelfor_cunavailabletext}">
		{$label tf_settings cunavailabletext }	</label>
	<div class="r-search-option">
		{$searchtype_cunavailabletext}
	</div>
	<div class="r-search-field">
		{$cunavailabletext_editcontrol}	</div>
	<div class="r-search-field">
		{$cunavailabletext_editcontrol1}
	</div>
	
</div>

{END cunavailabletext_fieldblock}
											
{BEGIN tooltipfields_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tooltipfields}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tooltipfields{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="tooltipfields" data-fieldname="tooltipfields" >


	<label class="r-search-label control-label" for="{$labelfor_tooltipfields}">
		{$label tf_settings tooltipfields }	</label>
	<div class="r-search-option">
		{$searchtype_tooltipfields}
	</div>
	<div class="r-search-field">
		{$tooltipfields_editcontrol}	</div>
	<div class="r-search-field">
		{$tooltipfields_editcontrol1}
	</div>
	
</div>

{END tooltipfields_fieldblock}
											
{BEGIN adddays_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_adddays}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="adddays{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="adddays" data-fieldname="adddays" >


	<label class="r-search-label control-label" for="{$labelfor_adddays}">
		{$label tf_settings adddays }	</label>
	<div class="r-search-option">
		{$searchtype_adddays}
	</div>
	<div class="r-search-field">
		{$adddays_editcontrol}	</div>
	<div class="r-search-field">
		{$adddays_editcontrol1}
	</div>
	
</div>

{END adddays_fieldblock}
											
{BEGIN intName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_intName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="intName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="intName" data-fieldname="intName" >


	<label class="r-search-label control-label" for="{$labelfor_intName}">
		{$label tf_settings intName }	</label>
	<div class="r-search-option">
		{$searchtype_intName}
	</div>
	<div class="r-search-field">
		{$intName_editcontrol}	</div>
	<div class="r-search-field">
		{$intName_editcontrol1}
	</div>
	
</div>

{END intName_fieldblock}
											
{BEGIN intValue_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_intValue}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="intValue{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="intValue" data-fieldname="intValue" >


	<label class="r-search-label control-label" for="{$labelfor_intValue}">
		{$label tf_settings intValue }	</label>
	<div class="r-search-option">
		{$searchtype_intValue}
	</div>
	<div class="r-search-field">
		{$intValue_editcontrol}	</div>
	<div class="r-search-field">
		{$intValue_editcontrol1}
	</div>
	
</div>

{END intValue_fieldblock}
											
{BEGIN weekends_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_weekends}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="weekends{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="weekends" data-fieldname="weekends" >


	<label class="r-search-label control-label" for="{$labelfor_weekends}">
		{$label tf_settings weekends }	</label>
	<div class="r-search-option">
		{$searchtype_weekends}
	</div>
	<div class="r-search-field">
		{$weekends_editcontrol}	</div>
	<div class="r-search-field">
		{$weekends_editcontrol1}
	</div>
	
</div>

{END weekends_fieldblock}
											
{BEGIN minTime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_minTime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="minTime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="minTime" data-fieldname="minTime" >


	<label class="r-search-label control-label" for="{$labelfor_minTime}">
		{$label tf_settings minTime }	</label>
	<div class="r-search-option">
		{$searchtype_minTime}
	</div>
	<div class="r-search-field">
		{$minTime_editcontrol}	</div>
	<div class="r-search-field">
		{$minTime_editcontrol1}
	</div>
	
</div>

{END minTime_fieldblock}
											
{BEGIN maxTime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_maxTime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="maxTime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="maxTime" data-fieldname="maxTime" >


	<label class="r-search-label control-label" for="{$labelfor_maxTime}">
		{$label tf_settings maxTime }	</label>
	<div class="r-search-option">
		{$searchtype_maxTime}
	</div>
	<div class="r-search-field">
		{$maxTime_editcontrol}	</div>
	<div class="r-search-field">
		{$maxTime_editcontrol1}
	</div>
	
</div>

{END maxTime_fieldblock}
											
{BEGIN clickEvent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_clickEvent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="clickEvent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="clickEvent" data-fieldname="clickEvent" >


	<label class="r-search-label control-label" for="{$labelfor_clickEvent}">
		{$label tf_settings clickEvent }	</label>
	<div class="r-search-option">
		{$searchtype_clickEvent}
	</div>
	<div class="r-search-field">
		{$clickEvent_editcontrol}	</div>
	<div class="r-search-field">
		{$clickEvent_editcontrol1}
	</div>
	
</div>

{END clickEvent_fieldblock}
											
{BEGIN showTitle_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_showTitle}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="showTitle{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="showTitle" data-fieldname="showTitle" >


	<label class="r-search-label control-label" for="{$labelfor_showTitle}">
		{$label tf_settings showTitle }	</label>
	<div class="r-search-option">
		{$searchtype_showTitle}
	</div>
	<div class="r-search-field">
		{$showTitle_editcontrol}	</div>
	<div class="r-search-field">
		{$showTitle_editcontrol1}
	</div>
	
</div>

{END showTitle_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
